<header class="header">
  <h1 class="logo">Big Picture</h1>
  <nav class="nav">
    <ul class="list">
        <li class="list-item"><a class="list-item-link" href="#">Inicio</a></li>
        <li class="list-item"><a class="list-item-link" href="#">Servicios</a></li>
        <li class="list-item"><a class="list-item-link" href="#">Acerca de</a></li>
        <li class="list-item"><a class="list-item-link" href="#">Contacto</a></li>
    </ul>
  </nav>
</header>
<section class="one">
  
</section>
<section class="two">
  
</section>
<section class="services">
  
</section>
<section class="contact">
  
</section>
<footer class="footer">
  
</footer>