<header class="header">
  <div class="container">
    <h1 class="logo">Big Picture</h1>
    <nav class="nav">
      <ul class="list">
          <li class="list-item"><a class="list-item-link" href="#">Inicio</a></li>
          <li class="list-item"><a class="list-item-link" href="#">Servicios</a></li>
          <li class="list-item"><a class="list-item-link" href="#">Acerca de</a></li>
          <li class="list-item"><a class="list-item-link" href="#">Contacto</a></li>
      </ul>
    </nav>
  </div> 
</header>
<section class="section section-one">
  <div class="container">
    <div class="box box-right">
      <h2 class="box-title">Lorem ipsum dolorsit amet</h2>
      <p class="box-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
      <p class="box-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
    </div>
    </div> 
</section>
<section class="section section-two">
    <div class="container">
      <div class="box box-left">
        <h2 class="box-title">Lorem ipsum dolorsit amet</h2>
        <p class="box-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
        <p class="box-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
    </div>
      </div> 
  
</section>
<section class="services">
  
</section>
<section class="contact">
  
</section>
<footer class="footer">
  
</footer>