<main>
  <header class="header">
    <h1 class="logo"><img src="../assets/logo.svg" /> My App</h1>
  </header>
  <aside class="aside">  
    <nav class="nav">
      <ul class="list">
          <li class="list-item"><a class="list-item-link" href="#">Inicio</a></li>
          <li class="list-item"><a class="list-item-link" href="#">Usuarios</a></li>
          <li class="list-item"><a class="list-item-link" href="#">Configuración</a></li>
          <li class="list-item"><a class="list-item-link" href="#">Cerrar sesión</a></li>
      </ul>
    </nav>
  </aside>
  <section class="section">
    <ul class="image-list">
        <li class="image-list-item">
          <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen" /></article>
        </li>
        <li class="image-list-item">
          <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen" /></article>
        </li>
        <li class="image-list-item">
          <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen" /></article>
        </li>
        <li class="image-list-item">
          <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen" /></article>
        </li>
        <li class="image-list-item">
          <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen" /></article>
        </li>
        <li class="image-list-item">
          <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen" /></article>
        </li>
        <li class="image-list-item">
          <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen" /></article>
        </li>
        <li class="image-list-item">
          <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen" /></article>
        </li>
        <li class="image-list-item">
          <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen" /></article>
        </li>
        <li class="image-list-item">
          <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen" /></article>
        </li>
        <li class="image-list-item">
          <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen" /></article>
        </li>
        <li class="image-list-item">
          <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen" /></article>
        </li>
        <li class="image-list-item">
          <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen" /></article>
        </li>
        <li class="image-list-item">
          <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen" /></article>
        </li>
        <li class="image-list-item">
          <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen" /></article>
        </li>
        <li class="image-list-item">
          <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen" /></article>
        </li>
        <li class="image-list-item">
          <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen" /></article>
        </li>
        <li class="image-list-item">
          <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen" /></article>
        </li>
        <li class="image-list-item">
          <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen" /></article>
        </li>
        <li class="image-list-item">
          <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen" /></article>
        </li>
        <li class="image-list-item">
          <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen" /></article>
        </li>
        <li class="image-list-item">
          <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen" /></article>
        </li>
        <li class="image-list-item">
          <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen" /></article>
        </li>
        <li class="image-list-item">
          <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen" /></article>
        </li>
        <li class="image-list-item">
          <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen" /></article>
        </li>
        <li class="image-list-item">
          <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen" /></article>
        </li>
        <li class="image-list-item">
          <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen" /></article>
        </li>
        <li class="image-list-item">
          <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen" /></article>
        </li>
        <li class="image-list-item">
          <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen" /></article>
        </li>
        <li class="image-list-item">
          <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen" /></article>
        </li>
        <li class="image-list-item">
          <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen" /></article>
        </li>
        <li class="image-list-item">
          <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen" /></article>
        </li>
        <li class="image-list-item">
          <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen" /></article>
        </li>
        <li class="image-list-item">
          <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen" /></article>
        </li>
        <li class="image-list-item">
          <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen" /></article>
        </li>
        <li class="image-list-item">
          <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen" /></article>
        </li>
        <li class="image-list-item">
          <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen" /></article>
        </li>
        <li class="image-list-item">
          <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen" /></article>
        </li>
        <li class="image-list-item">
          <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen" /></article>
        </li>
        <li class="image-list-item">
          <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen" /></article>
        </li>
        <li class="image-list-item">
          <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen" /></article>
        </li>
        <li class="image-list-item">
          <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen" /></article>
        </li>
        <li class="image-list-item">
          <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen" /></article>
        </li>
        <li class="image-list-item">
          <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen" /></article>
        </li>
        <li class="image-list-item">
          <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen" /></article>
        </li>
        <li class="image-list-item">
          <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen" /></article>
        </li>
        <li class="image-list-item">
          <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen" /></article>
        </li>
        <li class="image-list-item">
          <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen" /></article>
        </li>
        <li class="image-list-item">
          <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen" /></article>
        </li>
        <li class="image-list-item">
          <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen" /></article>
        </li>
        <li class="image-list-item">
          <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen" /></article>
        </li>
        <li class="image-list-item">
          <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen" /></article>
        </li>
        <li class="image-list-item">
          <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen" /></article>
        </li>
        <li class="image-list-item">
          <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen" /></article>
        </li>
        <li class="image-list-item">
          <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen" /></article>
        </li>
        <li class="image-list-item">
          <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen" /></article>
        </li>
        <li class="image-list-item">
          <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen" /></article>
        </li>
        <li class="image-list-item">
          <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen" /></article>
        </li>
        <li class="image-list-item">
          <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen" /></article>
        </li>
        <li class="image-list-item">
          <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen" /></article>
        </li>
        <li class="image-list-item">
          <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen" /></article>
        </li>
        <li class="image-list-item">
          <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen" /></article>
        </li>
        <li class="image-list-item">
          <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen" /></article>
        </li>
        <li class="image-list-item">
          <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen" /></article>
        </li>
        <li class="image-list-item">
          <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen" /></article>
        </li>
        <li class="image-list-item">
          <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen" /></article>
        </li>
        <li class="image-list-item">
          <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen" /></article>
        </li>
        <li class="image-list-item">
          <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen" /></article>
        </li>
        <li class="image-list-item">
          <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen" /></article>
        </li>
        <li class="image-list-item">
          <article><img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen" /></article>
        </li>
    </ul>
  </section>
  <footer class="footer">
    <ul class="icon-list">
        <li class="icon-list-item">
          <a class="icon-item-link" href="#"><span class="icon icon-share2"></span></a>
        </li>
        <li class="icon-list-item">
          <a class="icon-item-link" href="#"><span class="icon icon-facebook"></span></a>
        </li>
        <li class="icon-list-item">
          <a class="icon-item-link" href="#"><span class="icon icon-whatsapp"></span></a>
        </li>
        <li class="icon-list-item">
          <a class="icon-item-link" href="#"><span class="icon icon-twitter"></span></a>
        </li>
    </ul>
  </footer>
</main> 