.aside{
    background:#AAA; 
    grid-area:aside;
    .nav{
        .list{
            @include reset();
            .list-item{
                .list-item-link{
                    color:$links;
                    display: block;
                    padding:10px 20px;
                    transition: background 1s;
                }                
                .list-item-link:hover{
                    background: #DFDFDF;
                }
            }
            .list-item:last-child{
                .list-item-link{
                    border-right: none;
                }
            }
        }
    }
}
@include mobile{
    .aside{
        display: none;
    } 
}