.section{
    grid-area:section;
    height:calc(100vh - 157px) ;
    overflow-y: scroll;
    .image-list{
        @include reset();
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        .image-list-item{
            @include reset();
        }
    }
}
@include mobile{
    .section{
        height: auto;
        .image-list{
            flex-flow: column;
            .image-list-item{
                .image{
                    max-width: 100px;
                }       
            }
        }
    }
}