/*archivos externos*/
@import 'css/icomoon/fonts.css';
/*globales*/
@import 'css/variables';
@import 'css/mixins';
/*componentes*/
@import 'css/aside';
@import 'css/header';
@import 'css/footer';
@import 'css/main';
@import 'css/section';

/*etiquetas generales*/
*{    
    box-sizing: border-box;
}
body{
    @include reset();
    background: #DADADA; 
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
}
/*clases generales*/
.container{
    margin:0 auto;
    width: 980px;
}